
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lugrasimo&display=swap');

body{
    background-color: bisque;
}
/* changing the header to show all element in a single row */
.header{
    display: flex;
    flex-direction: row;
}
/* making the logo and link to be on the right side */
.header{
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 50px;
}
/* Getting logo to be in the centre of both x and y axis */
.logo-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* making the list have each item on the same row with gap */
.r-list {
    display: flex;
    flex-direction: row;
    gap:40px
}
/* making the list in centre  */
.r-list {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
/* removing underline */
.r-list a {
    text-decoration: none;
    color: black;
}

/* removing the bullet points */
.r-list {
    list-style: none;
}

/*********************Main-Section****************************/
/* adding a margin to left and right*/
.main {
    border: 1px solid red;
    margin-left: 50px;
    margin-right: 50px;
}
/* adding a margin all around*/
.outline-con{
    border: 1px solid black;
    margin: 30px;
}
/* getting the score in the centre */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* setting the Score board size */
.score {
    font-size: 35px;
    font-family: 'Lugrasimo', cursive;
}
/* Setting the title to the centre */
.title-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* setting the font and size of the title */
.title-text {
    font-size: 35px;
    font-family: 'Lugrasimo', cursive;
    margin-top: 50px;
    margin-bottom:30px;
}
.option-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* Setting all image to be the same size*/
.object {
    width: 150px;
    height: 150px;
}
/* Allow object to look as if they come out when hoving above them */
.object:hover {
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 5px 5px;
}



